<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form th:action="@{/article/list}" method="get" id="searchForm">
        <input type="text" id="kw" name="kw" th:value="${kw}" >
        <button type="submit" class="btn btn-success">검색</button>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성 일시</th>
            <th>수정 일시</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="article, loop : ${articleList}">
            <td th:text="${loop.count}"></td>
            <td> <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a></td>
            <td th:text="${#temporals.format(article.createDate ,'yyyy-MM-dd')}"></td>
            <td th:text="${#temporals.format(article.modifyDate ,'yyyy-MM-dd')}"></td>
        </tr>
    </tbody>

</table>
    <a th:href="@{/article/create}" class="btn btn-primary">등록</a>

</div>
</html>